doctype html
html
    head                        
        title Edit
        script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQKXbJN9BSYqtf1Fu9gZxHDNPkHP_857k&callback=initMap&libraries=&v=weekly" defer)
        link(rel="stylesheet" href="./css/styles.css")
        link(rel="icon", href="./static/admilogo.ico")
        script(src="./js/maps.js")
        script(src="./js/RutaConductor.js")
        script(src="./js/rutaCheck.js")
        script(src="./js/visualizar.js")
    body 
        header            
            nav.navegacion 
                ul.menu 
                    li 
                        a(href="")  menu 
                        ul.submenu 
                            li 
                                a(href="../historicos") Historicos   
                            li 
                                a(href="../asignar") Crear ruta    
                            li 
                                a(href="../") Home
            div.HL#selector  
                form(action="/update", method="post")              
                    div                
                        h1 Placa: #{placaId}                        
                        input(type="hidden" id="placaId" name="placaId" value=placaId)                        
                        if !false
                            label(for="Ruta") Seleccionar una ruta:
                            select(name="Ruta")
                                each ruta in documents
                                    option(value=ruta.Id) #{ruta.Nombre}                                      
                            input(type="submit" value="Seleccionar ruta")                                    
        div#left
            #gmp-map     
        div#right
            if baka
                each ruta in documents
                    div 
                        h1 Ruta: #{ruta.Nombre}                      
                        each puntos, index in ruta.Puntos
                            h2 Punto #{index + 1}: Lat: #{puntos.latitud} Lon: #{puntos.longitud} Check: #{puntos.check ? 'Sí' : 'No'}            
            else
                div.texto
                    h2 No hay rutas seleccionadas para este conductor.
                    